.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
    padding: 0 3rem 0 3rem;
}

.LoginButton {
    height: 2.5rem;
    width: 7rem;
    border-radius: 50px;
    font-size: large;
    border: none;
    background-color: white;
    cursor: pointer;
}

.container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linear {
    width: 87.5%;
    min-height: 75vh;
    border-radius: 15px;
    border: 1px solid white;
    background-image: linear-gradient(to bottom right, #080E2F, #14257B);
    display: flex;
    cursor: default;
}

@media screen and (min-width: 825px) {
    .body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50%;
    }
    
    .imgDiv {
        display: flex;
        align-items: center;
        width: 50%;
    }
    
    .img {
        height: 20rem;
        width: 20rem;
        background-image: url('../../public/Image.png');
        background-repeat: no-repeat;
        background-size: 100%;
        rotate: -12.5deg;
    }
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.input {
    height: 2.25rem;
    width: 20rem;
    margin-top: 0px;
    margin-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: medium;
    outline: none;
    background-color: rgba(128, 128, 128, 0.2);
    border: none;
    border-radius: 5px ;
    color: #e3e3e3;
}

.paraDiv {
    width: 22rem;
    margin-top: 0;
}

.para {
    font-size: small;
}

.RegisterButton {
    height: 2.5rem;
    width: 7rem;
    border-radius: 50px;
    font-size: large;
    border: none;
    background-color: white;
    color: #0F0C2C;
    margin-bottom: 1rem;
}

.heading {
    margin-top: .5rem;
    margin-bottom: .75rem;
}

.link {
    text-decoration: none;
    color: #0F0C2C;
}

.instructionParaDiv {
    width: 16rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: red;
    font-size: small;
    margin-bottom: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.loading {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    overflow-y:scroll;
    overflow-x:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    color: black;
    width: 50px;
    aspect-ratio: 1;
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 50%;
    display: grid;
    animation: l11 1.5s infinite linear;
    transform-origin: 50% 80%;
}

.loader:before,
.loader:after {
    content: "";
    grid-area: 1/1;
    border: inherit;
    border-radius: 50%;
    animation: inherit;
    animation-duration: 1s;
    transform-origin: inherit;
}

.loader:after {
    --s:-1;
}

@keyframes l11 {
    100% {transform:rotate(calc(var(--s,1)*1turn))}
}