body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.dashboard {
  width: 100%;
  display: flex;
}

.main-content {
  width: 100%;
  padding: 20px;
}

h1 {
  margin-top: 0;
  text-align: center;
}

header h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.task-form input,
.task-form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}

.task-form button {
  padding: 10px;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-form button:hover {
  background-color: #34495e;
}

.task-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed;
}

.task-table th,
.task-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  font-size: 0.9rem;
  word-wrap: break-word;
  white-space: normal;
}

.task-table th {
  background-color: #f9f9f9;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.task-table td button {
  padding: 5px 10px;
  border: none;
  background-color: #2c3e50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.task-table td button:hover {
  background-color: #34495e;
}

@media (min-width: 1024px) {
  .task-form input,
  .task-form textarea {
    font-size: 1.2rem;
  }

  .task-table th,
  .task-table td {
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  .task-table th,
  .task-table td {
    font-size: 0.7rem;
  }
}
