.container {
  position: absolute;
  left: 0;
  z-index: 10;
  width: 2.5rem;
}

.image {
  position: absolute;
  height: 325px;
  width: 225px;
  object-fit: cover;
  object-position: right;
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.leftanimation {
  position: absolute;
  height: 325px;
  width: 225px;
  object-fit: cover;
  object-position: right;
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  animation: slide-in-left 0.5s linear;
}

.rightanimation {
  position: absolute;
  height: 325px;
  width: 225px;
  object-fit: cover;
  object-position: right;
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  animation: slide-in-right 0.5s linear;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
