.container {
  display: flex;
  flex-grow: 1;
}

.image {
  height: 325px;
  width: 225px;
  object-fit: cover;
  object-position: center;
  flex-grow: 1;
}

.leftanimation {
  height: 325px;
  width: 225px;
  object-fit: cover;
  object-position: center;
  flex-grow: 1;
  animation: slide-in-left 0.5s linear;
}

.rightanimation {
  height: 325px;
  width: 225px;
  object-fit: cover;
  object-position: center;
  flex-grow: 1;
  animation: slide-in-right 0.5s linear;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
